#main-home{
  /* border: thin red solid; */
  height: auto;
}

#group-box{
  width: 100%;
  border: thin solid darkcyan;
  margin-top: 7mm;
  text-align: center;
}
#header-box{
  /* border: thin solid red; */
  font-size: 1.3em;
  width: 100%;
  border: thin solid darkcyan;
  background-color: white;
  text-align: left;
  position: static;
  top: 0;
}

.view-grp-box{
  margin-bottom: 7mm;
}

#main-home > a > button,  #main-home > button{
  margin-top: 7mm;
  margin-bottom: 7mm;
}

#mem-dtls{
  margin-top: 2cm;
}

#crt-grp :hover {
  background-color: darkcyan;

}

@media screen and (min-width: 900px){
  #jnlv{
    margin-left: 45%;
    margin-top: 2%;
  }
}

@media screen and (max-width: 900px){
  #jnlv{
    margin-left: 40%;
    margin-top: 2%;
  }
}
