{% extends 'layout.html'%}



{% block content %}

{% include 'group-navigator.html'%}


{% if current_user.id == group.group_admin %}

<div class="" id="mem-dtls">

  <div class="">

    <h2>Create group</h2>
    <hr>

    <a id="crt-grp" href="#"> <button class="btn btn-lg"  type="button" name="button">Create new group</button> </a>

  </div>

  <div class="">
    {% if not paylist.start_tenure %}
    <h2>Start tenure</h2>
    <hr>
      <a href="/start_tenure?group_id={{group.id}}" id="crt-grp"> <button class="btn  btn-lg "type="button" name="button">
        Click to start tenure
      </button> </a>
    {% endif %}
  </div><br>

  <div class="">

    <h2>Change admin</h2>
    <hr>

    <form class="" action="/change_admin?group_id={{group.id}}" method="post">

      <div class="input-group">

        {{ form.members_id(class="input-sm form-con", placeholder="enter member id") }}

      </div><br>

      <div class="input-group" id="chng-adm-btn">

        {{ form.change(class="btn btn-default btn-lg")}}

      </div>

      {{form.csrf_token }}

    </form>

  </div>

</div>

{% endif %}

{% endblock %}
