<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta charset="utf-8">
		{{ fontawesome_html() }}
		<title></title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">

	</head>
	<body>

    <div class="container">

			<div class="row">

				<div class="col-lg-12" id="box-auth">

					<h1><i class="fas fa-hand-holding-usd fa-3x"></i>esusu</h1>
					<p> align="right"> <em>Advance money fiduciary </em> </p>

				</div>

				<div class="col-lg-9 col-lg-offset-2 col-xs-12 col-sm-12">

					<div id="sub-box-auth">
							
						<div id="f-msg">

							{% with messages = get_flashed_messages() %}

							{% if messages %}

								{{messages[0]}}

							{% endif %}

							{% endwith %}

						</div>

						{% block content %}{% endblock %}
	

					</div>


				</div>

  </body>
</html>
