{% extends 'layout.html'%}

{% block content %}

    <div class="col-lg-9 col-xs-12 col-sm-9" id="main-home">

          <h3>Home</h3>
          <hr>
          {% for group in groups %}

          <div class="row no-gutters bg-light position-relative" id="group-box">
            
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="..." class="w-100" alt="...">
            </div>

            <div class=""col-md-6 position-static p-4 pl-md-0"" >

                <h5 class="mt-0" >{{group.group_name}}</h5>
                <hr>

              <p> <i class="fa fa-users"></i> {{group.group_members}}</p>

              <p> <i class="fas fa-wallet"></i> <i class="fas fa-user"></i> {{group.member_target}}</p>

              <p><i class="fas fa-funnel-dollar"></i> {{group.group_target}}</p>

              <a href="/group_details?group_id={{group.id}}" class="stretched-link" >View group details</a>

            </div>
            

          </div>

          {% endfor %}


    </div>

    <div class="col-lg-3 col-sm-3 col-xs-12">

    </div>

{% endblock %}
