<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ fontawesome_html() }}
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title> Esusu </title>
		{% endif %}

		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/group-details.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/account-home.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
		<script type="text/javascript" src="{{url_for('static', filename='js/pop-up.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>



	</head>
	<body>

		<div class="main-box">

			<div class="container">

				<div class="row">

					<div class="col-lg-3 col-xs-9 col-sm-3">

						<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">

							<div id="main-nav">

								<i class="fas fa-hand-holding-usd fa-3x"></i> Esusu

								<a class="nav-link" data-toggle="pill" href="/account_home" role="tab" aria-controls="v-pills-home"> <i class="fas fa-home "></i> Home </a>

								<a class="nav-link" data-toggle="pill" href="/account_profile" role="tab" aria-controls="v-pills-profile" > <i class="fas fa-user"></i>  Profile </a>

								{% if current_user.is_admin %}

								<div class="dropdown show">

									<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
										<i class="fas fa-user-cog"></i> admin
									</a>

									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										{% for group in current_user.group %}

										<a class="dropdown-item" href="/admin_pannel?group_id={{group.id}}" >{{group.group_name}}</a>
										<a class="dropdown-item" href="/admin_pannel?group_id={{group.id}}" >{{group.group_name}}</a>
											<a class="dropdown-item" href="/admin_pannel?group_id={{group.id}}" >{{group.group_name}}</a>

										{% endfor %}
									</div>

								</div>

								{% endif %}

								<a  class="nav-link" data-toggle="pill" href="/logout" role="tab" aria-controls="v-pills-profile"> <i class="fas fa-sign-out-alt"></i> Log-out </a>

							</div>

						</div>

					</div>



					<div class="col-lg-9 col-sm-9 col-xs-12">

						<div >

							{% with messages = get_flashed_messages() %}

							{% if messages %}

								{{messages[0]}}

							{% endif%}

							{% endwith%}

						</div>

						<div>

							{% block content %}{% endblock %}

						</div>

					</div>

				</div>

			</div>

		</div>

	</body>

</html>
